<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://www.thymeleaf.com">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body th:bgcolor="${color}">
        <div>Hola Mundo</div>
        <table border="2">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Email</th>
            </tr>

            <tr th:each="persona:${personas}">
                <td th:text="${persona.nombre}"/>
                <td th:text="${persona.apellido}"/>
                <td th:text="${persona.telefono}"/>
                <td th:text="${persona.email}"/>
                
            <tr/>
        </table>


    </body>
</html>
