<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>C.A.T ClevERP</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../styles.css"/> 
    </head>
    <body>
        <header>
            <div class="d-flex">
                <div class="logo mr-auto">
                    <img src="../../logo.png" alt="Logo">
                    <div class="mirilla">
                        <img src="../../mirilla.png" alt="Rotating Image" style="flex:
                             0 0 auto;"></div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white
          flex-grow-1">
        <div class="container">
          <a class="navbar-brand" href="#">ClevERP</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mr-3">
                <a class="nav-link">Benvingut: </a>
              </li>
              <li class="nav-item">
                <form class="form-signin" method="POST" th:action="@{/logout}" th:object="${empleat}">
                  <button type="submit" class="btn btn-outline-light" value="Logout">Tancar sessió</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="d-flex justify-content-end"></div>
    </div>
  </header>
  <div class="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a th:href="@{/clients}" class="nav-link text-white" aria-current="page">Clients</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyAuthority('administrador')">
        <a th:href="@{/empleats}" sec:authorize="hasAnyAuthority('administrador')"
          class="nav-link active mb-auto">Empleats</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/partides}" class="nav-link text-white">Partides</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/configuracio}" class="nav-link text-white">Configuració</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/}" class="nav-link text-white">Sortir</a>

      </li>
    </ul>
  </div>
        <div class="main-content">
           <form th:action="@{/empleats/guardar}" method="post" th:object="${empleat}">

                <div class="form-group">
                    
                    <label>Username</label><br/>
                    <input type="text" th:field="*{username}" class="form-control"><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div><br/>
                    
                     <label>Password</label><br/>
                    <input type="text" th:field="*{password}" class="form-control"><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div><br/>
                    
                    <label>Rol</label><br>
                    <select class="form-control" th:field="*{rol}">
                      <option value="">Seleccione una opción</option>
                      <option value="administrador">Administrador</option>
                      <option value="arbitre">Árbitre</option>
                      <option value="venedor">Venedor</option>
                    </select>
                    <div style="color: red" th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"></div><br>
                    
                    <label>Dni</label><br/>
                    <input type="text" th:field="*{dni}" class="form-control"><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div><br/>
                    
                    <label>Nom</label><br/>
                    <input type="text" th:field="*{nom}" class="form-control"><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div><br/>
                    
                    <label>Cognom 1</label><br/>
                    <input type="text" th:field="*{cognom1}" class="form-control"/><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('cognom1')}" th:errors="*{cognom1}"></div><br/>
                    
                    <label>Cognom 2</label><br/>
                    <input type="text" th:field="*{cognom2}" class="form-control"/><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('cognom2')}" th:errors="*{cognom2}"></div><br/>
                    
                    <label>Data Naixement</label><br/>
                    <input type="text" th:field="*{data_naixement}" class="form-control"/><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('data_naixement')}" th:errors="*{data_naixement}"></div><br/>
                    
                    <label>Salari</label><br/>
                    <input type="text" th:field="*{salari}" class="form-control"><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('salari')}" th:errors="*{salari}"></div><br/>
                    
                    <label>Email</label><br/>
                    <input type="text" th:field="*{email}" class="form-control"/><br/>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div><br/>
                    
                    <label>Direccio</label><br/>
                    <input type="text" th:field="*{direccio}" class="form-control"/><br/>
                    <div style="color: red" th:if="${#fields.hasErrors('direccio')}" th:errors="*{direccio}"></div><br/>
                    
                    <input type="submit" value="Confirma" class="btn btn-primary">
                </div>
            </form>
        </div>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </body>
</html>