<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>C.A.T ClevERP</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../styles.css"/> 
    </head>
    <body>
        <header>
            <div class="d-flex">
                <div class="logo mr-auto">
                    <img src="../../logo.png" alt="Logo">
                    <div class="mirilla">
                        <img src="../../mirilla.png" alt="Rotating Image" style="flex:
                             0 0 auto;"></div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white
                     flex-grow-1">
                    <div class="container">
                        <a class="navbar-brand" href="#">ClevERP</a>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item mr-3">
                                    <a class="nav-link">Benvingut: </a>
                                </li>
                                <li class="nav-item">
                                    <form class="form-signin" method="POST" th:action="@{/logout}" th:object="${empleat}">
                                        <button type="submit" class="btn btn-outline-light" value="Logout">Tancar sessió</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="d-flex justify-content-end"></div>
            </div>
        </header>
        <div class="sidebar">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a th:href="@{/clients}" class="nav-link text-white" aria-current="page">Clients</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('administrador')">
                    <a th:href="@{/empleats}" sec:authorize="hasAnyAuthority('administrador')"
                       class="nav-link text-white">Empleats</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/partides}" class="nav-link active mb-auto">Partides</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/configuracio}" class="nav-link text-white">Configuració</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link text-white">Sortir</a>

                </li>
            </ul>
        </div>
        <div class="main-content">
        <form th:action="@{/guardarPartida}" method="post" th:object="${partida}">

            <input type="text" th:field="*{id}" class="form-control" readonly style="display:none;"/><br/>

            <label>Data de la partida</label><br/>
            <input type="date" th:field="*{data_partida}" class="form-control"/><br/>
            <div th:if="${#fields.hasErrors('data_partida')}" 
                 th:errors="*{data_partida}"></div>

            <label>Aforament</label><br/>
            <input type="text" th:field="*{aforament}" class="form-control"/><br/>
            <div th:if="${#fields.hasErrors('aforament')}" 
                 th:errors="*{aforament}"></div>

            <label>Equip A</label><br/>
            <input type="text" th:field="*{equipa_id}" class="form-control"/><br/>
            <div th:if="${#fields.hasErrors('equipa_id')}" 
                 th:errors="*{equipa_id}"></div>

            <label>Equip B</label><br/>
            <input type="text" th:field="*{equipb_id}" class="form-control"/><br/>
            <div th:if="${#fields.hasErrors('equipb_id')}" 
                 th:errors="*{equipb_id}"></div>

            <label>Guanyador sorteig</label><br/>
            <input type="text" th:field="*{guanyador_sorteig}" class="form-control"/><br/>
            <div th:if="${#fields.hasErrors('guanyador_sorteig')}" 
                 th:errors="*{guanyador_sorteig}"></div>

            <label>Producte sorteig</label><br/>
            <input type="text" th:field="*{producte_sorteig}" class="form-control"/><br/>
            <div th:if="${#fields.hasErrors('producte_sorteig')}" 
                 th:errors="*{producte_sorteig}"></div>

            <input type="submit" value="Confirma" class="btn btn-primary">
        </form>
        </div>
    </body>
</html>
