<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://www.thymeleaft.org">

<head>
  <meta charset="UTF-8">
  <title>C.A.T ClevERP</title><!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link href="styles.css" rel="stylesheet">
</head>


<body>

  <header>
    <div class="d-flex">
      <div class="logo mr-auto">
        <img src="logo.png" alt="Logo">
        <div class="mirilla"><img src="mirilla.png" alt="Rotating Image" style="flex: 0 0 auto;"></div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white
          flex-grow-1">
        <div class="container">
          <a class="navbar-brand" th:text="'Benvingut: ' + ${nomUsuari}"></a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <form class="form-signin" method="POST" th:action="@{/logout}" th:object="${empleat}">
                  <button type="submit" class="btn btn-outline-light" value="Logout">Tancar sessió</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="d-flex justify-content-end"></div>
    </div>
  </header>
  <div class="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a th:href="@{/clients}" class="nav-link text-white" aria-current="page">Clients</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyAuthority('administrador')">
        <a th:href="@{/empleats}" sec:authorize="hasAnyAuthority('administrador')"
          class="nav-link active mb-auto">Empleats</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/partides}" class="nav-link text-white">Partides</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/configuracio}" class="nav-link text-white">Configuració</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/}" class="nav-link text-white">Sortir</a>

      </li>
    </ul>
  </div>
  <div class="main-content">
      
<div class="jumbotron col-md-2 p-3 my-jumbotron" style="height: 100px; background-color: #343a40; color: white;">
  <h1><span th:text="${empleat.size()}"></span></h1>
  <p style="text-align: right; padding-left: 10px;">Empleats registrats</p>
  <img src="user.png" style="max-width: 100%; max-height: 100%; margin-left: 50px; ">
</div>
      
<div><a href="/empleat/nou" role="button" class="btn btn-primary btn-block">Afegir nou empleat +</a></div>

     <table class="table table-dark mt-2" border="2">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>DNI</th>
        <th>Nom</th>
        <th>Primer Cognom</th>
        <th>Segon Cognom</th>
        <th>Data Naixement</th>
        <th>Direccio</th>
        <th colspan="3">Opcions</th>
      </tr>
      <tr th:each="empleado:${empleat}">
        <td th:text="${empleado.idUsuari}"></td>
        <td th:text="${empleado.username}"></td>
        <td th:text="${empleado.dni}"></td>
        <td th:text="${empleado.nom}"></td>
        <td th:text="${empleado.cognom1}"></td>
        <td th:text="${empleado.cognom2}"></td>
        <td th:text="${empleado.data_naixement}"></td>
        <td th:text="${empleado.direccio}"></td>
        <td>
          <a th:href="@{/editar/empleat/}+${empleado.idUsuari}" class="btn btn-primary" th:text="Edita"></a>
        </td>
        <td>
          <a th:href="@{/elimina/empleat/}+${empleado.idUsuari}" class="btn btn-danger" th:text="Elimina"></a>
        </td>
        <td>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" th:object="${empleado.idUsuari}">Info</button>
        </td>
      </tr>
    </table>
    <footer id="footer" class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0,
                     0.2);">
        ©2023
        <a class="text-dark" href="https://mdbootstrap.com/">ClevERP</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div><!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título del Pop-up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Username:</td>
              <td th:text="${empleat[0].username}"></td>
            </tr>
            <tr>
              <td>DNI:</td>
              <td th:text="${empleat[0].dni}"></td>
            </tr>
            <tr>
              <td>Nom:</td>
              <td th:text="${empleat[0].nom}"></td>
            </tr>
            <tr>
              <td>Primer Apellido:</td>
              <td th:text="${empleat[0].cognom1}"></td>
            </tr>
            <tr>
              <td>Segundo Apellido:</td>
              <td th:text="${empleat[0].cognom2}"></td>
            </tr>
            <tr>
              <td>Fecha de Nacimiento:</td>
              <td th:text="${empleat[0].data_naixement}"></td>
            </tr>
            <tr>
              <td>Dirección:</td>
              <td th:text="${empleat[0].direccio}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
  
  <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
  
</body>

</html>