<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://www.thymeleaft.org">

<head>
  <meta charset="UTF-8">
  <title>C.A.T ClevERP</title><!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link href="styles.css" rel="stylesheet">
</head>

<body>

  <header>
    <div class="d-flex">
      <div class="logo mr-auto">
        <img src="logo.png" alt="Logo">
        <div class="mirilla"><img src="mirilla.png" alt="Rotating Image" style="flex: 0 0 auto;"></div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white
                     flex-grow-1">
        <div class="container">
          <a class="navbar-brand" href="#">ClevERP</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#" th:text="${user}"> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="d-flex justify-content-end"></div>
    </div>
  </header>
  <div class="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a th:href="@{/clients}" class="nav-link text-white" aria-current="page">Clients</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/empleats}" class="nav-link active mb-auto">Empleats</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/partides}" class="nav-link text-white">Partides</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/configuracio}" class="nav-link text-white">Configuració</a>
      </li>
      <li class="nav-item">
        <a th:href="@{/}" class="nav-link text-white">Sortir</a>

      </li>
    </ul>
    <div class="main-content">
      <table class="table table-dark" border="2">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>DNI</th>
          <th>Primer Cognom</th>
          <th>Segon Cognom</th>
          <th>Data Naixement</th>
          <th>Direccio</th>
          <th colspan="2">Opcions</th>
        </tr>
        <tr th:each="empleado:${empleat}">
          <td th:text="${empleado.idUsuari}"></td>
          <td th:text="${empleado.username}"></td>
          <td th:text="${empleado.dni}"></td>
          <td th:text="${empleado.cognom1}"></td>
          <td th:text="${empleado.cognom2}"></td>
          <td th:text="${empleado.data_naixement}"></td>
          <td th:text="${empleado.direccio}"></td>
          <td>
            <a th:href="@{/elimina/empleado/}+${empleado.idUsuari}" th:text="Elimina"></a>
          </td>
          <td>
            <a th:href="@{/editar/empleado/}+${empleado.idUsuari}" th:text="Edita"></a>
          </td>
        </tr>
      </table>
      <footer id="footer" class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0,
          0.2);">
          ©2023
          <a class="text-dark" href="">ClevERP</a>
          >>>>>>> Develop
        </div>
        <div class="main-content">
          <table class="table table-dark" border="2">
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>DNI</th>
              <th>Primer Cognom</th>
              <th>Segon Cognom</th>
              <th>Data Naixement</th>
              <th>Direccio</th>
              <th colspan="2">Opcions</th>
            </tr>
            <tr th:each="empleado:${empleat}">
              <td th:text="${empleado.idUsuari}"></td>
              <td th:text="${empleado.username}"></td>
              <td th:text="${empleado.dni}"></td>
              <td th:text="${empleado.cognom1}"></td>
              <td th:text="${empleado.cognom2}"></td>
              <td th:text="${empleado.data_naixement}"></td>
              <td th:text="${empleado.direccio}"></td>
              <td>
                <a th:href="@{/editar/empleat/}+${empleado.idUsuari}" class="btn btn-primary" th:text="Edita"></a>
              </td>
              <td>
                <a th:href="@{/elimina/empleat/}+${empleado.idUsuari}" class="btn btn-danger" th:text="Elimina"></a>
              </td>

            </tr>
          </table>
          <footer id="footer" class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0,
                     0.2);">
              ©2023
              <a class="text-dark" href="https://mdbootstrap.com/">ClevERP</a>
            </div>
            <!-- Copyright -->
          </footer>
        </div><!-- Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>