<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
<head>
        <meta charset="UTF-8">
        <title>C.A.T ClevERP</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="styles.css"/> 
    </head>
    <body>
        <header>
            <div class="d-flex">
                <div class="logo mr-auto">
                    <img src="logo.png" alt="Logo">
                    <div class="mirilla">
                        <img src="mirilla.png" alt="Rotating Image" style="flex:
                            0 0 auto;">
                        
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white
                    flex-grow-1">
                    <div class="container">
                        <a class="navbar-brand" href="#">ClevERP</a>
                        <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="d-flex justify-content-end">

                </div>
            </div>
        </header>
    <div class="sidebar">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a th:href="@{/listadoClientes}" class="nav-link text-white" aria-current="page">Clients</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('administrador')">
            <a th:href="@{/listadoEmpleados}" class="nav-link text-white">Empleats</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/partides}" class="nav-link active mb-auto">Partides</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/configuracio}" class="nav-link text-white">Configuració</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/plantilla}" class="nav-link text-white">Plantilla</a>

        </li>
      </ul>
    </div>
        <div class="main-content">
            
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </body>
</html>
