<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://www.thymeleaf.com">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
    </nav>

    <body th:bgcolor="${color}" >





        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div id="imagen-sidebar"><img src="Cleverp.png" width="100%" height="100%" alt=""/></div>
                    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width:280px;height: 100vh">

                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                            <span class="fs-4">Sidebar</span>
                        </a>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link active" aria-current="page">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                    Ventes
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                    Partides
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                    Jugadors
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                    Products
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                    Customers
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                                <strong>mdo</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-group mt-3">
                        <div class="card text-white bg-dark mb-3 l-3">

                            <div class="card-body">
                                <h5 class="card-title">Ventes Totals</h5>
                                <p class="card-text"><h2>0 €</h2></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card text-white bg-dark mb-3">

                            <div class="card-body">
                                <h5 class="card-title">Benefici Total</h5>
                                <p class="card-text"><h2>0 €</h2></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card text-white bg-dark mb-3">

                            <div class="card-body">
                                <h5 class="card-title">Clients Totals</h5>
                                <p class="card-text"><h2>0</h2></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card text-white bg-dark mb-3">

                            <div class="card-body">
                                <h5 class="card-title">Proveidors</h5>
                                <p class="card-text"><h2>0</h2></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table border="2" class="table">
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Elimina</th>
                                <th>Edita</th>
                            </tr>

                            <tr th:each="persona:${personas}">
                                <td th:text="${persona.nombre}"/>
                                <td th:text="${persona.apellido}"/>
                                <td th:text="${persona.telefono}"/>
                                <td th:text="${persona.email}"/>
                                <td><a th:href="@{/eliminar/} + ${persona.id}" th:text="Elimina"/></td>
                                <td><a href="@{/editar}"th:text="Editar"></a></td>
                            <tr/>
                        </table>
                        <div>
                            <h2>Partides Recents</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tipus</th>
                                        <th>Data</th>
                                        <th>Participants</th>
                                        <th>Elimina</th>
                                        <th>Edita</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Celda 1</td>
                                        <td>Celda 2</td>
                                    </tr>
                                    <tr>
                                        <td>Celda 3</td>
                                        <td>Celda 4</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h2>Top Equips</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Top</th>
                                        <th>Equip</th>
                                        <th>Puntuacio</th>
                                        <th>Elimina</th>
                                        <th>Edita</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Celda 5</td>
                                        <td>Celda 6</td>
                                    </tr>
                                    <tr>
                                        <td>Celda 7</td>
                                        <td>Celda 8</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>
            </div>
            <!-- -->

        </div>



    </body>
</html>