<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Airsoft Terrassa Club</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
            </a>
        </nav>
        
        <div id="imagen">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/404/2d0a6388275175.Y3JvcCwxNDcyLDExNTEsMTQ5LDMwNjU.png" alt="My Image">
        </div>
        <div id="menu">

            <ul>
                <li><a href="">Vista general</a></li>
                <li><a href="">Partides</a>
                    <ul>
                        <li><a href="">Jugadors</a></li>
                    </ul>
                </li>
                <li><a href="">Vendes</a>
                    <ul>
                        <li><a href="">Clients</a></li>
                    </ul>
                </li>
                <li><a href="">Comandes</a>
                    <ul>
                        <li><a href="">Proveidors</a></li>
                        <li><a href="">Fer comanda</a></li>
                    </ul>
                </li>
            </ul>
            <hr>
            <ul>
                <li>Settings</li>
                <li>Log Out</li>
            </ul>

        </div>

        <div class="box" id="vendes">
            <label for="">Vendes Totals</label>
            <h2>0</h2>
        </div>

        <div class="box" id="benefici">
            <label for="">Benefici Total</label>
            <h2>0</h2>
        </div>

        <div class="box" id="clients">
            <label for="">Clients Totals</label>
            <h2>0</h2>
        </div>
        <div class="box" id="proveidors">
            <label for="">Proveidors</label>
            <h2>0</h2>
        </div>


    </div>

    <div id="footer">
        <p>Copyright © 2023 Airsoft Terrassa Club
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>